@import '/src/scss/main.module.scss';

.dialog {
    display: flex;
    padding: 20px 20px 20px 0;
    border-bottom: $line-color 1px solid;
    a {
        color: $text-color;
    }

    .active {
        color: $active-color;
    }
}

    
