@import '/src/scss/main.module.scss';

.user {
    display: flex;
    flex-direction: row;
    height: 100px;
    max-width: 600px;
    img {
        display: flex;
        justify-content: center;
        height: 35px;
        width: 35px;
    }
}

.user_items {
    display: flex;
    flex-direction: column;
}
